.box-set {
    margin: -100px auto;
    margin-bottom: 135px;
    display: block;
    width: 85%;
    height: auto;
}

.box-about {
    height: 80%;
    width: 80%;
    background-color: #BACBA9;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    border-radius: 25px;
}

.about {
    display: table;
    font-size: 24px;
    color: white;
    margin: 5%;
}

.resume {
    display: table;
    color: white;
    margin: 5%;
}

h4 a {
    text-decoration: none;
    color: white;
}

h4 a:hover {
    text-decoration: underline;
}

.img-con {
    margin: 15px auto;
    margin-top: 15px;
    width: 95%;
    height: auto;
    box-sizing: border-box;
}

.image {
    float: left;
    width: 45%;
    height: auto;
    border-radius: 15px;
    background-color: #F1BF98;
    padding: 15px;
    padding-top: 25px; 
    margin-left: 3.5%; 
    margin-top: 3%;
    position: relative;
}

.image img {
    width: 100%;
    height: auto;
}

.image h3 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.bottom-page {
    margin-bottom: 135px;
}

@media (max-width: 570px) {
    .image h3 {
        font-size: 12px;
    }
}

.email-format {
    text-align: center;
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 15px;
    background-color:#BACBA9; 
    border-radius: 15px;
    padding:15px;
}

.email-info {
    text-align: justify;
    margin-bottom: 15px;
    width: 95%;
    height: auto;
    border: 0;
    background-color: #E1F4CB;
    border-radius: 12px;
}

.email-message {
    margin-bottom: 15px;
    width: 95%;
    height: 200px;
    border: 0;
    background-color: #E1F4CB;
    border-radius: 15px;
}

.email-button {
    border: 0;
    margin: auto;
    width: 95px;
    height: 55px;
    background-color: #E1F4CB;
    border-radius: 15px;
}

.portrait {
    margin-bottom: 15px;
    margin-top: 0;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    background-color: #BACBA9;
}

.portrait img { 
    width: 100%;
    height: auto;
}