.box-set {
    margin: 25px auto;
    margin-bottom: 135px;
    display: block;
    width: 85%;
    height: auto;
}

.box-about {
    height: 80%;
    width: 80%;
    background-color: #BACBA9;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    border-radius: 25px;
}

.about {
    display: table;
    font-size: 24px;
    color: white;
    margin: 5%;
}

.resume {
    display: table;
    color: white;
    margin: 5%;
}

h4 a {
    text-decoration: none;
    color: white;
}

h4 a:hover {
    text-decoration: underline;
}

