.resume-format{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

a .pdf {
    border: none;
    color: white;
    background-color: #F1BF98;
}
.hard-skills {
    margin-bottom: 100px;
}

.heads th{
    text-align: center;
    background-color: white;
}
.tables tr :nth-child(even) {
    background-color: #F1BF98;
    color: white;
    text-align: center;
}
.tables tr :nth-child(odd) {
    background-color: #4F5749;
    color:white;
    text-align: center;
}
.tables tr td:hover {
    color:#F1BF98;
}
.tables tr:hover {
    background-color: white; 
}